.nav{

}
.katta {
    width:fit-content;
    position: relative;
    border: 1px solid green;
    height: 36px;
}

.ctn1 {
    width: fit-content;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 5%;
    transform: translate(-50%,-50%);
}

.ctn2 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.ctn3 {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 1%;
    transform: translate(-8%,-50%);
}   

.nav-dib {
    display: inline-block;
}

.search {
    width: 300px;
}

.fa-search {
    font-size: 14px;
}
img {
    padding: 0px 5px;
    margin: 0px 10px;
    width: 100px;
    height: 100px;
}
.ctn2 {
    margin-left: 300px;

.search {
    border: none;
}

i {
    display: inline-block;
    padding: 5px 15px;
}

div {
    display: inline-block;
    /* margin-left: 300px; */
}

.fa-keyboard {
    position: absolute;
    right: 40px;
}
.input_keyboard {
    font-size: 16px;
}

.search {
    padding: 5px 10px;
}

* {
    border: 1px solid greenyellow;